@model RestauranteWeb.Models.FuncionarioViewModel

@{
    ViewData["Title"] = "Excluir";
}


<div class="container">

    <div class="card detalhe-card mt-4">

        <div class="card-header detalhe-header">
            <h2 class="mb-0">Deletar Mesa</h2>
        </div>

        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cpf)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomeRestaurante)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomeRestaurante)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NomeFuncao)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NomeFuncao)
                </dd>
    </dl>
        </div>

        <div class="card-footer detalhe-footer d-flex gap-2">
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>

    </div>

</div>
