@model RestauranteWeb.Models.RestauranteViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <div class="card detalhe-card mt-4">

        <div class="card-header detalhe-header">
            <h2 class="mb-0">Deletar Restaurante</h2>
        </div>

        <div class="card-body">

            <dl class="row">
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.IdTipoRestaurante)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.IdTipoRestaurante)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Cnpj)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Cnpj)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Cep)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Cep)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Rua)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Rua)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Bairro)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Bairro)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Cidade)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Cidade)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Estado)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Estado)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Telefone1)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Telefone1)
                </dd>
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Telefone2)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Telefone2)
                </dd>
            </dl>
        </div>

        <div class="card-footer detalhe-footer d-flex gap-2">
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>

    </div>

</div>
