@model IEnumerable<RestauranteWeb.Models.ItemcardapioViewModel>
<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/dataTables.bootstrap5.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/responsive.bootstrap5.min.css" />
@{
    ViewData["Title"] = "Index";
}
<div class="card-header detalhe-header d-flex justify-content-between align-items-center">
    <h2 class="mb-0">Itens Cardápios</h2>

    <a asp-action="Create" class=" btn-primary">
        Cadastrar Item Cardápio
    </a>
</div>
<div class="container page-list table-responsive border">
    <table id="itemcardapioTable" class="table table-striped table-bordered w-100">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Preco)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.NomeRestaurante)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Preco)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>@Html.DisplayFor(modelItem => item.NomeRestaurante)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/lib/datatables/js/dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.responsive.js"></script>
    <script src="~/lib/datatables/js/responsive.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#itemcardapioTable').DataTable({
                responsive: true,
                autoWidth: false,
                columnDefs: [
                    { targets: -1, orderable: false, searchable: false }
                ],
                language: {
                    url: '/lib/datatables/js/pt-BR.json'
                }

            });
        });
        $(window).on('resize', function () {
            $('#itemcardapioTable').DataTable().columns.adjust().responsive.recalc();
        });


    </script>

}
