@model RestauranteWeb.Models.AtendimentoViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">

    <div class="card detalhe-card mt-4">

        <div class="card-header detalhe-header">
            <h5 class="mb-0">Deletar Atendimento</h5>
        </div>

        <div class="card-body">

            <dl class="row container mt-4">
                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Id)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.DataHoraInicio)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.DataHoraInicio)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.DataHoraFim)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.DataHoraFim)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.TotalConta)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.TotalConta)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.TotalServico)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.TotalServico)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.TotalDesconto)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.TotalDesconto)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.Total)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.Total)
                </dd>

                <dt class="col-12 col-md-4">
                    @Html.DisplayNameFor(model => model.IdMesa)
                </dt>
                <dd class="col-12 col-md-8">
                    @Html.DisplayFor(model => model.IdMesa)
                </dd>
            </dl>

        </div>

        <div class="card-footer detalhe-footer d-flex gap-2">
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </div>
</div>
